* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: rgb(0, 178, 226);
    color: aliceblue;
    padding-left: 15px;
  }