<div mat-dialog-title class="main">{{this.data ? "updateuser" :"adduser"}}
  <div class="close-icon">
    <mat-icon  (click)="cancelDialog()">
        close
    </mat-icon>
</div>
</div>


<div mat-dialog-content class="content">
    <div class="row">

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input name="userName" type="text" matInput placeholder="Name" [(ngModel)]="user.name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input name="userEmail" type="text" matInput placeholder="Email" [(ngModel)]="user.email">
        </mat-form-field>
    </div>
 
    <div class="row">

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input name="phone" type="text" matInput placeholder="Phone" [(ngModel)]="user.phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input name="password" type="text" matInput placeholder="Password" [(ngModel)]="user.password">
        </mat-form-field>
    </div>

    

        <div mat-dialog-actions class="actions" align="end">
            <button mat-raised-button color="warn" type="submit" [mat-dialog-close]>CANCEL</button>
            <button mat-raised-button color="primary" (click)="this.data?UpdateUser():usersAdd()">{{user.id ? 'UPDATE':'CREATE'}}</button> 
        </div>
    
</div>